<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="itext7" version="7.1.12" targetFramework="net472" />
  <package id="Magick.NET.Core" version="4.1.0" targetFramework="net472" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.21.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.NetCore.Analyzers" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net472" />
</packages>